
<label for="name">Name:</label>                      <input type="text" name="name" value="<%= @question.name %>" required /> <br/>
<label for="good_answer">Bonne réponse:</label>      <input type="text" name="good_answer" value="<%= @question.good_answer %>" required/><br/>
<label for="bad_answer1">Mauvaise réponse 1:</label> <input type="text" name="bad_answer1" value="<%= @question.bad_answer1 %>" required/><br/>
<label for="bad_answer2">Mauvaise réponse 2:</label> <input type="text" name="bad_answer2" value="<%= @question.bad_answer2 %>"/><br/>
<label for="bad_answer3">Mauvaise réponse 3:</label> <input type="text" name="bad_answer3" value="<%= @question.bad_answer3 %>"/><br/>
<input type="submit" name="Valider"/>