<h1>Bienvenu chef !</h1>

<%= flash[:info] %>

<p><h2>Listes des quizz:</h2> (cliquez pour éditer)</p>

<ul>
  <% @quizzs.each do |quizz| %>
      <li>
        <p>
          <%= quizz.title %>
          <a href="/admin/quizz/<%=quizz.id%>">Editer</a>
          <a href="/admin/quizz/<%=quizz.id%>/display"><%= quizz.display ? "Masquer" : "Afficher" %></a>
          <%= form_tag "/admin/quizz/#{quizz.id}", method: :delete do %><input type="submit" value="Supprimer"><% end %>
        </p>
      </li>
  <% end %>
</ul>

<a href="/">Revenir à l'accueil</a>

